@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home</h1>
</div>
<div>
    <a asp-controller="Home" asp-action="Expenses" class="btn btn-secondary">Show Expenses</a>
    <a asp-controller="Home" asp-action="CreateEditExpense" class="btn btn-primary">Add New Expense</a>
</div>
